@font-face {
  font-family: 'Monsterrat';
  font-style: normal;
  src: local('Monsterrat'),
  url('../fonts/Montserrat-VariableFont_wght.ttf') format('woff2');
}

body {
  padding: 24px;
  font-family: 'Monsterrat', sans-serif;
}

h1 {
  margin-bottom: 16px;
}

section {
  margin-bottom: 8px;
}

input {
  border-radius: 4px;
  padding: 4px;
  border-width: 1px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

textarea {
  border-radius: 4px;
  padding: 4px;
  border-width: 1px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

input, textarea, button {
  font-family: 'Monsterrat', 'Arial', 'sans-serif';
}

button {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  border-width: 1px;
  background-color: whitesmoke;
}

#content {
  width: 60%;
  margin: auto;
}

/**
 * utility classes
 */

.mb-16 {
  margin-bottom: 16px;
}

.instructions {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 16px;
}

.row {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.row.grid {
  display: grid;
  grid-template-columns: 120px 400px 200px;
}

.col {
  padding-right: 16px;
  display: flex;
  align-items: center;
}

.results {
  margin-top: 8px;
}

.connected-status {
  margin-left: 16px;
}

.connected-status.connected::before {
  content: "🟢"
}

.connected-status.disconnected::before {
  content: "🔴"
}